.animation-screen {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("../img/scene.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;

  @include retina {
    background-image: url("../img/scene@2x.png");
  }

  @media (orientation: portrait) {
    background-image: url("../img/scene-mob.png");

    @include retina {
      background-image: url("../img/scene-mob@2x.png");
    }
  }
}

// Module1-task2: animation
@keyframes animationHeader {
  0% {
    transform: translateY(-27px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animationFooter {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.page-header,
.page-header__logo {
  transform: translateY(-27px);
  opacity: 0;
}
.screen__footer {
  transform: translateY(100%);
}

body.active {
  .page-header {
    animation: animationHeader 2s cubic-bezier(0.6, 0.03, 0, 0.94) forwards;
  }
  .page-header__logo {
    animation: animationHeader 2s cubic-bezier(0.6, 0.03, 0, 0.94) .5s forwards;
  }
  .screen__footer {
    animation: animationFooter 2s cubic-bezier(0.6, 0.03, 0, 0.94) .8s forwards;
  }
}

